name: PHPUnit tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-
      - name: Cache Coverage result
        id: coverage-cache
        uses: actions/cache@v3
        with:
          path: coverage
          key: ${{ github.sha }}

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress
      - name: Run test suite
        run: php vendor/bin/phpunit --configuration phpunit.xml --coverage-xml=coverage/coverage-xml --log-junit=coverage/junit.xml
      - name: Run infected test suite
        run: php vendor/bin/infection --coverage=coverage --min-msi=90 --min-covered-msi=90
